# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
venv/
.venv/

# Streamlit
.streamlit/
game_states/ # IMPORTANT: If you DON'T want to commit saved game states to GitHub

# IDE specific
.vscode/
.idea/

# OS specific
.DS_Store
Thumbs.db
